@model diploma.ViewModels.LoginModel
@{
    ViewData["Title"] = "Войти в систему";
}

<title>Login V15</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<link rel="stylesheet" type="text/css" href="~/css/login.css">
<!--===============================================================================================-->


<div id="particle-container">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
</div>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100" style="opacity: 0.6;" >
            <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    <img src="/images/science.png" style="width: 183px; height: 183px;">
                </span>
                <p style="font-family: Century Gothic, cursive; font-size: 1.5rem;"> Личный кабинет </p>
            </div>

            <form class="login100-form validate-form" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly" style="margin-left: 20px; font-weight: 700; font-family: Century Gothic, cursive; color: darkred; "> </div>
                <div class="wrap-input100 validate-input m-b-26" data-validate="Введите логин!">
                    <span class="label-input100">
                        <i class="fa fa-user fa-lg"></i>
                    </span>
                    <input class="input100" type="text" id="log" asp-for="Login" name="login" style="background: url() no-repeat center left; padding-left: 37px; " />

                    <span class="focus-input100" asp-validation-for="Login" />
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Введите пароль!">
                    <span class="label-input100">
                        <i class="fa fa-key fa-lg"></i>
                    </span>
                    <input class="input100" type="password" name="pass" id="password" asp-for="Password" style="background: url() no-repeat center left; padding-left: 37px; " />
                    <span class="focus-input100" asp-validation-for="Password" />
                </div>

                <!--
                       <div class="flex-sb-m w-full p-b-30">
        <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
                Remember me
            </label>
        </div>

        <div>
            <a href="#" class="txt1">
                Forgot Password?
            </a>
        </div>
    </div>
    -->

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn" onclick="load()" id="login">
                        Войти
                    </button>
                </div>
                <div class="text-center p-3" style="background-color: rgba(255, 255, 255); font-family: 'Gill Sans', sans-serif">
                    Исследование выполнено за счет гранта Российского научного фонда № 22-79-10216<br />
                    <a href="https://rscf.ru/project/22-79-10216/" target="_blank"> https://rscf.ru/project/22-79-10216/ </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/js/main.js"></script>


<script type="text/javascript">


    // ajax метод для входа????
    //$("#login").click(function (e) {

    //    $.ajax({
    //        url: '/Account/Login',
    //        type: 'POST',
    //        contentType: false,
    //        processData: false,
    //        // кодируем строки
    //        data: JSON.stringify($("#log").val() + "+" + $("#password").val()),
    //        contentType: 'application/json; charset=utf-8',
    //        success: function (data) {

    //            alert("test");

    //        },
    //        error: function () {
    //            Swal.fire({
    //                icon: "error",
    //                title: "Что-то не так...",
    //                text: "Неверный логин или пароль!"
    //            });

    //        }
    //    });
    //})
</script>
