@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4"> Check doc </h1>
    <br />
    <form action="@Url.Action("CDoc")" method="POST">
        <label> Select file </label>
        <input type="file" name="fileToView"/>
        <input type="submit" class="btn btn-success" value="Render"/>
    </form>
</div>
