@model IEnumerable<diploma.Models.Role>
@{
    ViewBag.Title = "Список ролей";
}

<head>
    <script src="jquery-3.6.3.min.js"></script>
</head>

<style>
    .files {
        float: left;
    }

    .c-button {
        border: 2px solid transparent;
        /* другие стили */
        background: transparent;
        /*color: #ffffff;*/
        border-color: #000000;
        height: 40px;
        width: 128px;
    }
</style>

<!-- Картинка с папкой -->
<div class="container">
    <div class="files" style="margin-bottom: 10px;">
        <img src="~/images/role.png" style="width: 70px; height: 70px;" />
    </div>

    <div class="files">
        <p style="margin-left: 10px; margin-top: 4px; font-size: 18px;"> <b> Роли </b> </p>
        <p class="text-muted" style="margin-top: -15px; margin-left: 10px; font-size: 14px;"> Все роли, реализованные в системе </p>
    </div>

    <div class="files" style="float: right;">
        <button class="c-button" data-toggle="modal" data-target="#addrole" style="border-radius:30px; margin-left: 15px; margin-bottom: 10px; margin-top: 10px; margin-right: 15px; width: 172px;"> Добавить </button>
    </div>

    <p>⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
    <p>⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>

</div>

<!-- В случае отсутствия файлов -->
@foreach (Role role in Model)
{
    <div class="container" style="display: flex;">
        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1"> @role.Name </p>
            </div>
        </a>

        @*<a class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1"> <img src="~/images/account.png" style="width: 25px; height: 25px;"> @user.Login </p>
                </div>
            </a>*@

        <div class="testcont" style="float: right; display: flex;">
            <div class="container" style="display: flex; margin-right: -28px;">
                <a class="list-group-item list-group-item-action" style="width: 60px;">
                    <div class="item one">
                        <input type="image" src="/images/edit-icon.png"
                               title="Изменить" style="width: 25px; height: 25px; position: relative;" name="@role.Id" onclick="getId()" data-toggle="modal" data-target="#editrole" />
                    </div>
                </a>
            </div>

            <div class="container" style="display: flex;">
                <a class="list-group-item list-group-item-action" style="width: 60px;">
                    <div class="item one">
                        <input type="image" src="/images/delete.png" onclick="deleteRole()" name="@role.Id" title="Удалить" style="width: 25px; height: 25px; position: relative;" />
                    </div>
                </a>
            </div>
        </div>
    </div>

}

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<!-- Модальное окно добавления пользователя в систему (добавить проверку по полям) -->
<div id="addrole" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Добавить роль  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label> Название </label><br />
                    <input type="text" id="name" class="form-control" />
                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" id="create" onclick="addRole()" value="Создать" class="btn btn-primary" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Закрыть </button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно изменения выбранной роли  -->
<div id="editrole" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Изменить роль  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label> Название </label><br />
                    <input type="text" id="newName" class="form-control" />
                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" id="create" onclick="editRole()" value="Сохранить" class="btn btn-primary" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Закрыть </button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var newId;

    // helper
    function getId() {

        newId = event.target.getAttribute("name");
    }

    function editRole() {


        $.ajax({
            url: '/Role/Edit',
            type: 'POST',
            contentType: false,
            processData: false,
            data: JSON.stringify(newId + "+" + $("#newName").val()),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                setTimeout(location.reload(), 500);

            },
            error: function () {
                Swal.fire({
                    icon: "error",
                    title: "Что-то не так...",
                    text: "Проверьте правильность введенных данных"
                });
            }
        });
    }

    function deleteRole() {

        var id = event.target.getAttribute("name");

        Swal.fire({
            title: "Вы уверены?",
            text: "Вы уверены, что хотите удалить эту роль?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Да",
            confirmButtonColor: "#1e90ff",
            cancelButtonText: "Отмена",
        }).then(function (result) {

            $.ajax({
                url: '/Role/Delete',
                type: 'POST',
                contentType: false,
                processData: false,
                data: JSON.stringify(id),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    setTimeout(location.reload(), 500);

                },
                error: function () {
                    Swal.fire({
                        icon: "error",
                        title: "Что-то не так...",
                        text: "Проверьте правильность введенных данных"
                    });
                }
            });

        });

    }

    function addRole() {
        var name = $("#name").val();

        if (name == "") {
            Swal.fire({
                icon: "error",
                title: "Что-то не так...",
                text: "Введите название роли!"
            });
        }
        else {

            $.ajax({
                url: '/Role/Create',
                type: 'POST',
                contentType: false,
                processData: false,
                data: JSON.stringify(name),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    location.reload();


                },
                error: function (data) {

                    Swal.fire({
                        icon: "error",
                        title: "Что-то не так...",
                        text: "Проверьте правильность введенных данных"
                    });

                }
            });

        }
    }
</script>

